body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#333, #c0c0c0);
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 20px 20px;
}

nav > div {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-links {
    flex: 1;
}

.logo-links a {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    flex: 1;
    padding: 0;
    margin: 0;
}
.nav-links li {
    display: inline;
}
.nav-links .link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links .link:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    width: 90%;
    max-width: 1200px;
}
header{
    margin: 1.5em auto;
}
main header img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 2em;
    border-radius: 25px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, #333 100%);
}


section {
    margin: 2em auto;
    background-color: #333;
    padding: 20px;
    border-radius: 25px;
}

sup {
    vertical-align: super;
    font-size: smaller;
}
b{
    font-weight: bold;
}
/*.text-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #333;
    padding: 20px;
    flex-wrap: wrap;
} */
.even {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #333;
    padding: 20px;
    flex-wrap: wrap;
}
.odd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #333;
    padding: 20px;
    flex-wrap: wrap;
}
.text-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}


.sec-header {
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: white;
    margin-bottom: 10px;
}

.img img {
    display: flex;
    width: 200px; 
    height: auto;
    border-radius: 10px;
}
.img2 img {
    width: 205px; 
    height: auto;
    border-radius: 10px;
}
.img3 img {
    width: 227px; 
    height: auto;
    border-radius: 10px;
}
.img4 img {
    height: 300px;
    width: auto;
    border-radius: 10px;
}

.passage {
    flex: 1;
    color: white;
    text-align: center;
    font-size: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 10%, #333 100%);
    margin: 1.5em auto;
    border-radius: 25px;
    margin-bottom: 5em;
}

blockquote {
    align-items: center;
    font-family: arial;
    position: relative;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    max-width: 60vw;
}
hr {
    border: none;
    height: 6px;
    background-color: #333;
    margin: 10px 0;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}
